@import "../../../assets/style/helpers";

.form {
  position: relative;
  width: 260px;
  height: 270px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  @include shadow(2px 2px 6px 1px rgba(34, 60, 80, 0.2));
}

.city {
  font-size: 20px;
  font-weight: 600;
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.weather__about {
  text-align: center;
  text-transform: capitalize;
  padding-right: 8px;
}

.temperature__wrapper {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}

.temperature {
  font-size: 50px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
}

img {
  width: 130px;
  scale: 1.1;
}

.img__wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.stat {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  row-gap: 15px;
}

.indicator {
  font-size: 14px;
  text-align: justify-all;
  margin-left: 5px;
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

svg {
  width: 25px;
  height: 25px;
  transition: 0.4s ease;

  &:hover {
    opacity: 0.5;
  }
}


.form.day {
  background: #C9E5FF;
  color: #658CAF;

  h2,svg {
    color: #296399;
    fill: #296399;
    stroke: #296399;
  }
}

.form.night {
  background: #1F2E54;
  color: #6E85C1;

   h2,svg {
     color: #e1e1e1;
     fill: #e1e1e1;
   }
}