@import "src/style/helpers";

.form {
  --width: 570px;
  --height: 900px;
  position: fixed;
  margin-top: calc(50dvh - var(--height) / 2);
  margin-left: calc(50vw - var(--width) / 2);
  width: var(--width);
  height: var(--height);
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  background: #f1f1f1;
  border-radius: 15px;
  @include shadow(5px 5px 10px 2px rgba(34, 60, 80, 0.2));
}

.weatherWrapper {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 274px;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: visible;
}